@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

<script src="~/angular/employee/Service.js"></script>
<script src="~/angular/employee/App.js"></script>
<script src="~/angular/employee/Controller.js"></script>




<link href="~/Content/jasny-bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jasny-bootstrap.min.js"></script>

@*<script src="~/angular/employee/EmployeeSetupModalController.js"></script>*@

<div data-ng-app="employeeApp" id="ng-app">
    <div style="width:1070px" data-ng-view="">
    </div>
</div>


