@{
    ViewBag.Title = "Index";
}

<script src="~/angular/employee/Service.js"></script>
<script src="~/angular/employee/App.js"></script>
<script src="~/angular/employee/Controller.js"></script>

<div data-ng-app="employeeApp" >
    <div style="width:1070px" data-ng-controller="EmployeeController">
        <div data-ng-include="'/angular/employee/partials/main.html'"></div>
    </div>
</div>





